@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #0A0809;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}
/* -----------------------------------------------same sizes------------------------------------ */
.font-24{
    font-size: 24px;
}
.font-32{
    font-size: 32px;
}
.width-95{
    width: 95%;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.list-none{
    list-style-type: none;
}
.li-padding-btm li{
    padding-bottom: 20px;
}
.padding-btm-20{
    padding-bottom: 100px;
}
.hover-background-2, .hover-button, .hover-color, .hover-filter, .hover-background{
    cursor: pointer;
}
.hover-background:hover{
    background-color: rgba(0, 0, 0, 0.101);
    transform: scaleY(2.5);
}
.hover-background:hover span{
    transform: scaleY(0.4);
}
.hover-background-2:hover{
    background-color: rgba(255, 255, 255, 0.446);
}
.hover-color:hover{
    color: black;
}
.hover-button:hover{
    background-color: white;
}
.hover-button:hover span{
    color: black;
}
.hover-filter:hover{
    filter: brightness(50%);
}
.hover-a{
    border-bottom: 1px solid black;
}
/* ----------------------------------------------------------Virtual assistant and Contact------------------------------------------ */
.virtual-assistant {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, rgb(0, 68, 255), rgb(112, 0, 0), rgb(55, 0, 113));
    z-index: 10;
    bottom: 20px;
    right: 70px;
    position: fixed;
    border-radius: 2px;
    font-size: 20px;
}
.contact {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 10;
    border-radius: 2px;
    font-size: 20px;
}
/* --------------------------------navigation------------------------------- */
.navigation, .nav-row {
    height: 58px;
}
.nav-img-logo {
    height: 23px;
    width: 182px;
}

.nav-row i {
    font-size: 25px;
}

.nav-search {
    width: 95%;
    height: 48px;
    margin-left: 10px;
}

.nav-search-hide {
    height: 32px;
    width: 100%;
}

.search-box {
    height: 68px;
}

@media all and (min-width:992px) {
    .navigation span {
        font-size: 14px;
    }

    .navigation i {
        font-size: 16px;
        margin-right: 5px;
    }
}

/* ---------------------------------------------------------------------------images under navigation---------------------------------------------------------- */
.under-nav-img img {
    height: 65vw;
}

.under-nav-caption {
    height: calc(150px + 29vw);
    background-color: white;
}
.under-nav-costum-text {
    width: 95%;
    height: 174px;
}

.under-nav-caption-bottun1 {
    width: 104px;
    height: 50px;
}

.under-nav-caption-bottun2 {
    width: 141px;
    height: 50px;
}

.all-under-buttons {
    height: 62px;
}

@media all and (min-width:992px) {
    .under-nav-caption {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        top: 2%;
    }

    .under-nav-inner {
        height: 46vw;
    }
}

/* -----------------------------------------------------------sell images------------------------------------------- */
.sell-img-container {
    width: 95%;
}

.all-sell-images .row {
    background-color: #0A0809;
}
.sell-img {
    background-image: linear-gradient(to left, #bababa, #869FB5);
    position: relative;
}

.sell-img-caption {
    background-color: #1D2C3B;
    height: 56px;
    font-weight: 400;
}

.sell-hide-caption {
    height: 40px;
    position: absolute;
    top: 0;
}

@media all and (min-width: 760px) and (max-width:991px) {

    .sell-items .sell-img {
        width: 15vw;
    }

    .sell-img-caption {
        height: 12vw;
    }
}

@media all and (min-width:992px) {
    .sell-items {
        width: 240px;
    }

    .sell-img {
        width: 100%;
        height: 20vw;
    }
}

/* ----------------------------------------------------------------------------dell-technologies------------------------------------------------------------------------- */
.all-technology-img-caption {
    height: calc(500px + 40vw);
}

.dell-technologies {
    background-color: #141D28;
    height: calc(700px + 40vw);
}

.dell-tech-container {
    height: 130vw;
    position: relative;
}

.dell-technologies-text {
    width: 95%;
    margin-right: 0px;
}
.carousel-caption-images {
    width: 66vw;
}
.carousel-caption-images img {
    height: 50vw;
}
.carousel-bottom {
    background-color: #141D28;
    opacity: 0.5;
    transform: translateY(-60px);
}

@media all and (max-width:625px){
    .carousel-bottom {
        transform: translateY(-20px);
    }
}
@media all and (min-width:625px) {
    .carousel-bottom {
        transform: translateY(-20px);
    }
}
/* dell captiopn */
.all-texts {
    z-index: 5;
}
.all-tech-a {
    width: 59vw;
    height: 70px;
    font-size: 18px;
}

.tech-next-img {
    height: 40px;
    width: 40px;
}

.tech-next-img-left {
    transform: translateX(20px);
}

.tech-next-img-right {
    transform: translateX(-20px);
}

@media all and (min-width:991px){
    .dell-technologies-captio{
        top: 0;
    }
}
/* ------------------------------------------------------------dell-stroies-video--------------------------------------- */
.dell-stories {
    height: calc(500px + 31vw);
    position: relative;
    z-index: -3;
    background-image: url("../images/stories/1.avif");
    background-size: cover;

}

.all-story-text {
    width: 90vw;
    height: 20vw;
    position: absolute;
    opacity: 0.8;
}
.dell-stories p {
    text-align: center;
}

.story-text1,
.story-text3 {
    font-size: 16px;
}

.story-text2 {
    font-size: 32px;
}

.story-button {
    width: 148px;
    height: 50px;
    padding: 11px 19px 11px 19px;
    background-color: rgb(6, 114, 203);
}

/* -----------------------------------------------dell-supports-------------------------------------------------------------- */
.all-support-items {
    background-color: #1D2C3B;
}

.support-row {
    width: 95%;
    text-align: center;
}

.dell-support-text {
    width: 85.5%;
    height: 128px;
}

.support-text1 {
    font-size: 32px;
}

.support-col {
    height: calc(50px + 5vw);
    background-color: rgba(245, 246, 247, 0.1);
}

.support-i {
    font-size: 40px;
    color: rgb(144, 198, 204);
}

.support-i span {
    font-size: 16px;
}

/* ------------------------------------dell-account---------------------------------------- */
.dell-account {
    width: 95%;
}

.dell-account-caption {
    height: 331px;
    background-color: #002a58;
}

.dell-account-buttons {
    width: 94%;
}

.account-button1 {
    width: 36.8vw;
    height: 48px;
}

.account-button2 {
    width: 50vw;
    height: 48px;
}

.account-text1 {
    font-size: 24px
}

.dell-account-ul {
    list-style-type: none;
}

.dell-account-ul li {
    text-align: center;
    width: 20vw;
}

.dell-account-ul li i {
    font-size: 35px;
}

.dell-under-account-caption {
    background-color: #141D28;
    height: calc(420px + 15vw);}

@media all and (min-width:768px) {
    .md-size-dell-account-caption {
        top: 10px;
        left: 10px;
        width: 50vw;
        height: 120px;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
    }

    .md-size-dell-account-ul {
        height: 100px;
        width: 50vw;
        font-size: 10px;
    }

    .all-md-size-dell-account-caption {
        background-color: rgba(0, 42, 88, 0.5);
    }
}

/* ----------------------------------------------------------------lates dell technology----------------------------------------------------------- */

.lates-dell-technology{
    background-color: #002a58;
}
.lates-value{
    width: 93%;
}

.dell-lates-col{
    height: 24.5vw;
}
.dell-lates-col img{
    width: 25vw;
}
.lates-header-text1{
    font-size: 32px;
}

.dell-lates-bottom{
    height: 80px;
}
@media all and (min-width:992px){
    .lates-row{
        height: 460px;
    }
    .lates-value img{
        width: 18.6vw;
    }
    .lates-value{
        width: 80.4vw;
    }
    .lates-col-span{
        height: 208px;
        font-size: 20px;
    }
    .dell-lates-col{
        height: 368px;
    }
    .lates-col-span-hide{
        font-size: 16px;
        bottom: 10px;
        left: 15px;
    }
    .all-lates-img-caption{
        background-color: rgba(0, 0, 0, 0.45);
        width: 18.6vw;
    } 
}
/* ---------------------------------------------------------Dell-Rewards------------------------------------------ */
.dell-rewards{
    background-image: linear-gradient(to right, #002a58, #234264, #002a58) ;
}
.dell-rewards-value{
    width: 93%;
}
.dell-rewards-img{
    width: 100%;
}
.reward-button1{
    height: 48px;
    background-color: rgb(6, 114, 203);
}
@media all and (min-width:767px){
    .dell-rewards{
        height: 52vw;
    }
    .dell-rewards-img{
        width: 57vw;
    }
}
/* -------------------------------------------------------dell-survey---------------------------------------------------------- */
.dell-survey{
    background-color: #002a58;
    height: 174px;
}
.dell-survey i{
    font-size: 33px;
}
.cookie{
    background-image: linear-gradient(to right, #25507d, #0253a9);
    width: 40px;
    height: 40px; transform: translate(30px, -43px);
}

.dell-survey .row{
    width: 80%;
}
.dell-footer li span:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}