@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #0A0809;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

/* ----------------------------------------------------------Virtual assistant and Contact------------------------------------------ */

.virtual-assistant {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, rgb(0, 68, 255), rgb(112, 0, 0), rgb(55, 0, 113));
    z-index: 10;
    bottom: 20px;
    right: 70px;
    position: fixed;
    border-radius: 2px;
    font-size: 20px;
}

.contact {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 10;
    border-radius: 2px;
    font-size: 20px;
}

/* --------------------------------navigation------------------------------- */


.navigation {
    height: 58px;
}

.nav-row {
    height: 58px;
}

.nav-img-logo {
    height: 23px;
    width: 182px;
}

.nav-row i {
    font-size: 25px;
}

.nav-search {
    width: 95%;
    height: 48px;
    margin-left: 10px;
}

.nav-search-hide {
    height: 32px;
    width: 100%;
}

.search-box {
    height: 68px;
}

@media all and (min-width:992px) {
    .navigation span {
        font-size: 14px;
    }

    .navigation i {
        font-size: 16px;
        margin-right: 5px;
    }

}

/* ---------------------------------part-navigation------------------------------------------- */
.part2-navigation {
    font-size: 14px;
}

/* ---------------------------------------------------------------------------images under navigation---------------------------------------------------------- */
.under-nav-img img {
    height: 65vw;
}

.under-nav-caption {
    height: calc(150px + 29vw);
    background-color: white;
}

.under-caption1,
.under-caption3 {
    font-size: 16px;
}

.under-caption2 {
    font-size: 32px;
}

.under-nav-costum-text {
    width: 95%;
    height: 174px;
}

.under-nav-caption-bottun1 {
    width: 104px;
    height: 50px;
}

.under-nav-caption-bottun2 {
    width: 141px;
    height: 50px;
}

.all-under-buttons {
    height: 62px;
}

@media all and (min-width:992px) {
    .under-nav-caption {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        top: 2%;
    }

    .under-nav-inner {
        height: 46vw;
    }
}

/* -----------------------------------------------------------sell images------------------------------------------- */



.sell-img-container {
    width: 95%;
}

.all-sell-images .row {
    background-color: #0A0809;
}

.all-sell-images .col-6 {
    padding-left: 4px;
    padding-right: 4px;
}

.sell-img {
    background-image: linear-gradient(to left, #bababa, #869FB5);
    position: relative;
}

.sell-img-caption {
    background-color: #1D2C3B;
    height: 56px;
    font-weight: 400;
}

.sell-hide-caption {
    height: 40px;
    position: absolute;
    top: 0;
}

@media all and (min-width: 760px) and (max-width:991px) {

    .sell-items .sell-img {
        width: 15vw;
    }

    .sell-img-caption {
        height: 12vw;
    }
}

@media all and (min-width:992px) {
    .sell-items {
        width: 240px;
    }

    .sell-img {
        width: 100%;
        height: 20vw;
    }


}

/* ----------------------------------------------------------------------------dell-technologies------------------------------------------------------------------------- */
.all-technology-img-caption {
    height: calc(500px + 40vw);
}

.dell-technologies {
    background-color: #141D28;
    height: calc(700px + 40vw);


}

.dell-tech-container {
    height: 130vw;
    position: relative;

}

.dell-technologies-text {
    width: 95%;
    margin-right: 0px;


}

.technologies-text2 {
    font-weight: 300;
    font-size: 32px;
}


.dell-carosel {
    height: calc(650px + 26vw);
}

.carousel-caption-images {
    width: 66vw;
}

.carousel-caption-images img {
    height: 50vw;
}

.carousel-bottom {
    background-color: #141D28;
    opacity: 0.5;
    transform: translateY(-60px);
}

@media all and (max-width:625px) {
    .carousel-bottom {
        transform: translateY(-200px);
    }
}

/* dell captiopn */
.all-texts {
    z-index: 5;

}

.tech-text1 {
    font-size: 16px;
    font-weight: 500;
}

.tech-text2 {
    font-size: 24px;
    font-weight: 300;
}

.tech-text3 {
    font-size: 16px;
    font-weight: 400;
}

.all-tech-a {
    width: 59vw;
    height: 70px;
    font-size: 18px;
}

.tech-next-img {
    height: 40px;
    width: 40px;
}

.tech-next-img-left {
    transform: translateX(20px);
}

.tech-next-img-right {
    transform: translateX(-20px);
}

/* ------------------------------------------------------------dell-stroies-video--------------------------------------- */
.dell-stories {
    height: calc(500px + 31vw);
    /* background-image: url("../images/stories/1.avif");
    background-size: contain; */
    /* filter: brightness(40%); */
    position: relative;
    z-index: -3;

}

.all-story-text {
    width: 90vw;
    height: 20vw;
    position: absolute;
}

.dell-stories p {
    text-align: center;
}

.story-text1,
.story-text3 {
    font-size: 16px;
}

.story-text2 {
    font-size: 32px;
}

.story-button {
    width: 148px;
    height: 50px;
    padding: 11px 19px 11px 19px;
    background-color: rgb(6, 114, 203);
}



<div class="navigation  d-flex bg-white"><div class="container "><div class="row nav-row align-items-center"><div class="col-1  h-75 d-flex  justify-content-cneter bg-success"><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
aria-controls="offcanvasScrolling">Enable body scrolling</button><div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel"><div class="offcanvas-header"><h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5><button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button></div><div class="offcanvas-body"><p>Try scrolling the rest of the page to see this option in action.</p></div></div></div><div class="col-8  h-75 d-flex bg-danger"><img src="images/nav/1.crdownload" class="nav-logo align-self-center w-75 p-0 " alt=""></div><div class="col-1 fs-1 "><i class="bi bi-person-circle text-secondary me-1 "></i></div><div class="col-1 fs-1 "><i class="bi bi-cart text-secondary ms-2"></i></div></div><div class="row "><div class="search-div w-100 flex-column align-items-center border-bottom border-2"><div class="col-12 border"><div class="search-icon d-flex flex-row align-items-center  justify-content-between"><input type="search" placeholder="Search Dell" class="nav-search offset-0 p-4 "><i class="bi bi-search fs-4 text-secondary me-3"></i></div></div></div></div>